body{
    font-family: 'Poppins', sans-serif; 
    
}

main{
    min-height: 100vh;
    background-color: #DADFE8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knb{
    display: flex;
    gap: 100px;
    padding: 30px 0;
    }