/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
img { border-width:0; }
:focus { outline:none; } 
/* end reset */



body { 
	font-size:14px;
	line-height:19px;
	font-family: Arial, Helvetica, sans-serif; 
	color:#444; 
	background:#fff;	
}
a { 
	color:#0088cc; 
} 
a:hover { 
	color:#e26100; 
}
h1, h2, h3, h4, h5, h6 { 
	margin:0 0 14px 0; 
	color:#444; 
}
h1 {
	font-size:36px;
	line-height:42px;
	letter-spacing:-1px;
	margin-bottom:16px;
	color:#333;
}
h2 {
	font-size:25px;
	line-height:27px;
}
h3 {
	font-size:22px;
	line-height:23px;
}
h4 {
	font-size:18px;
	line-height:22px;
}
h5 {
	font-size:16px;
	line-height:20px;
}
h6 {
	font-size:14px;
	line-height:19px;
}
p { 
	margin:0 0 14px 0; 
}
ol, ul { 
	padding:1px 0 5px 13px;
	margin:0 0 5px 13px;
}
ol li, ul li {
	margin:0 0 5px 0; 
}
ol ol, ul ul { 
	padding:10px 0 5px 13px;
	margin:0 0 5px 13px;
}
blockquote {
	margin:0 0 15px 30px;
}
hr { 
	border:0;
	color:#e1e3e5;
	background-color:#e1e3e5;
	height:1px;
	width:100%;
	text-align:left;
	padding:0;
	margin:25px 0 25px 0;
}
select, input, textarea { 
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}


.clear {
	clear:both;
}


/* form elements */

.button {
	height:38px;
	border:none;
	background:url(../images/bnt_bg.png) repeat-x;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	padding:0 12px 0 12px;
	text-shadow:0 -1px 0 #c87321;
	cursor:pointer;
	border-top:1px solid #f28400;
	border-bottom:1px solid #ea5000;
	border-left:1px solid #ed6200;
	border-right:1px solid #ed6200;
	border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px;	
}
.button, x:-moz-any-link, x:default { padding:0 12px 3px 12px; }

.button1 {
	width:249px !important;
	height:50px;
	border:none;
	background:url(../images/btn1.png) no-repeat;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	color:#fff;
	padding:0 0 1px 0;
	text-shadow:0 -1px 0 #c87321;
	cursor:pointer;
	letter-spacing:-0.4px;
}
.button1, x:-moz-any-link, x:default { padding:0 0 3px 0; }

.button2 {
	width:258px;
	height:50px;
	border:none;
	background:url(../images/btn2.png) no-repeat;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	color:#fff;
	padding:0 0 1px 0;
	text-shadow:0 -1px 0 #c87321;
	cursor:pointer;
	letter-spacing:-0.4px;
}
.button2, x:-moz-any-link, x:default { padding:0 0 3px 0; }

input.inp-txt,
select,
textarea {
	/*height:20px;*/
	padding:7px 0px 7px 5px;
	width: 100%;
	font-size:14px;
	color:#999;
	background:#fff;
	border:1px solid #b8b6b2;
	border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px;	
	-moz-box-shadow: inset 0 1px 2px #eee; -webkit-box-shadow: inset 0 1px 2px #eee; box-shadow: inset 0 1px 2px #eee;	
		-webkit-transition: border-color .1s ease-in-out;
		-moz-transition:  border-color .1s ease-in-out;
		-o-transition:  border-color .1s ease-in-out;
		-ms-transition:  border-color .1s ease-in-out;
		transition:  border-color .1s ease-in-out;		
}
input.inp-txt:focus,
select:hover,
select:focus,
textarea:focus { border-color:#777; color:#555; }
select { padding:2px 2px 2px 1px; height:26px; }
textarea { height:auto; }

input.inp-checkbox { margin:2px 4px 0 3px; position:relative; }

select.error,
textarea.error,
input.inp-txt.error {
	border-color:#e92d28;
	background:#ffded6;
	color:#e92d28;
}


/* checkbox */
.jNiceCheckbox {
	background:transparent url(../images/checkbox.png) no-repeat center top;
	height:15px;
	width:15px;
	position:absolute;left:0;top:0;z-index:2;
	cursor:pointer;
}
.jNiceChecked { background-position: center bottom;}

.jNiceHidden {z-index:-1;position:relative;-moz-opacity:0.0; opacity:.0; filter:alpha(opacity=0);}
.jNiceWrapper {position:relative;vertical-align:top;float:left;}
.jNiceWrapper input {outline:none;moz-outline:none;}

/* END form elements */


.main-container {
	width:100%;
	height:auto;
	min-width:990px;
	overflow:hidden;
}
.wrapper{
	width:960px;
	margin:0 auto;
}

.left-column {
	width:560px;
	float:left;
}
.right-column {
	width:350px;
	float:right;
}


/* HEADER */
.header {
	height:143px;
	position:relative;
	background:#fff url(../images/header_bg2.png) repeat-x 50% 100%; 
}
.header-box {
	height:134px;
	position:relative;	
}

.hd-logo {
	float:left;
	margin:28px 60px 0 0;
	font-size:13px;
	line-height:16px;
	text-decoration:none;
}
.hd-logo img {
	margin-bottom:2px;
}
.hd-logo b {
	display:block;
	font-weight:normal;
	color:#5c5d60;
}
.hd-logo:hover b {
	color:#5c5d60;	
}

.hd-ribbon {
	float:right;
	margin:0 -7px -43px 8px;
	width:136px;
	height:165px;
	padding:23px 7px 0 7px;
	background:url(../images/ribbon2.png) no-repeat; 
	color:#fff;
	text-shadow:0 -1px 0 #c87321;
	text-transform:uppercase;
	text-align:center;
	font-size:16px;
	line-height:18px;	
}
.hd-ribbon small {
	display:block;
	font-size:11px;
	line-height:13px;
	margin-bottom:3px;
}
.hd-ribbon span {
	display:block;
	font-size:16px;
	line-height:18px;
	margin-bottom:3px;
}
.hd-ribbon b {
	display:block;
	font-size:19px;
	line-height:21px;
	margin-bottom:3px;
}

.hd-labels {
	float:right;
	margin:30px 0 0 0;
	width:200px;
	height:106px;
}
.hd-labels-pl { background:url(../images/top_labels_pla.png) no-repeat; }
.hd-labels-en { background:url(../images/top_labels_ena.png) no-repeat; }
.hd-labels-sw { background:url(../images/top_labels_swa.png) no-repeat; }
	
ul.top-nav {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	top:110px;
	left:0;
	overflow:hidden;
	height:30px;
	width:610px;
}
ul.top-nav li {
	float:left;
	padding:0;
	margin:0 30px 20px 0;
	font-size:14px;
	line-height:19px;
	font-weight:bold;
}
ul.top-nav a {
	text-decoration:none;
}
ul.top-nav .current a {
	color:#f38900;
}
ul.top-nav .current a:hover {
	color:#e26100;
}


/* CONTENT */

.home-content-container {
	background:url(../images/cnt_bg.jpg) repeat-x 50% 0;
	min-height:423px;
	padding:52px 0 35px 0;
}
.content-container {
	background:url(../images/cnt_bg_in.png) repeat-x 50% 0;
	min-height:200px;
	padding:32px 0 35px 0;
	color:#666;
}
.content-container h1 {
	margin-bottom:28px;
	padding:0 0 12px 0;
	border-bottom:2px solid #d5dadd;
}

.interior-left-box {
	width:245px;
	float:left;	
}
.interior-right-box {
	width:680px;
	float:right;	
}

.img-box {
	padding:10px 0;
}

.help-left-box {
	width:650px;
	float:left;
}
.help-right-box {
	width:260px;
	float:right;
}
.help-left-box h2 {
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:12px;
}
.help-right-box ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}
.help-right-box ul li {
	padding:0;
	margin:0 0 10px 0;
	line-height:18px;
}
.help-right-box ul a {
	text-decoration:none;
}

.ask {
	margin:0 0 0 -3px;
	padding:0 0 0 65px;
	min-height:60px;
	background:url(../images/icon_ask.png) no-repeat 0 2px;
	font-size:22px;
	line-height:27px;	
	color:#333;
}
.ask a {
	text-decoration:none;
}


.contact-left-box {
	width:460px;
	float:left;
}
.contact-right-box {
	width:460px;
	float:right;
}

.contact-form {
	position:relative;
	margin-bottom:20px;
	padding:20px;
	background:#fff;
	border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
	box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-moz-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
}
:root .contact-form { 
	box-shadow: 0 1px 4px rgba(31,32,33,0.3) \0/IE9;
}
.contact-form .field-box {
	margin-bottom:12px;
}
.contact-form .field-box label {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#444;
	padding:0 0 3px 0;
}
.contact-form .field-box .inp-txt {
	width:412px;
}
.contact-form .field-box textarea {
	width:412px;
	height:90px;
	min-height:90px;
	resize:vertical;
}
.contact-form .field-box select {
	width:420px;
}



.side-nav {
	margin-top:7px;
	position:relative;
	padding:13px 0;
	background:#fff;
	border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
	-moz-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	box-shadow: 0 1px 2px rgba(31,32,33,0.3);	
}
:root .side-nav { 
	box-shadow: 0 1px 4px rgba(31,32,33,0.3) \0/IE9;
}
.side-nav ul {
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
}
.side-nav ul li {
	padding:0;
	margin:0;
	line-height:18px;
	border-bottom:1px solid #e1e3e5;
	position:relative;
}
.side-nav ul a {
	text-decoration:none;
	display:block;
	padding:7px 25px 8px 15px;
}
.side-nav ul li.last {
	border-color:#fff;
}
.side-nav ul .current {
	border-bottom:1px solid #f38a01;
	margin-top:-1px;
}
.side-nav ul .current a {
	background:#f38a01 url(../images/left_nav_arrow.gif) no-repeat 100% 50%;
	color:#fff;
	padding:8px 25px 8px 15px;
}


.articles-item {
	padding-bottom:8px;
	margin-bottom:20px;
	border-bottom:1px solid #e1e3e5;
}
.articles-item h2 {
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:12px;
}
.articles-item h2 a {
	text-decoration:none;
}

.paginator {
	font-size:16px;
	line-height:20px;
	padding-top:5px;
}
.paginator b,
.paginator a {
	margin:0 3px;
	padding:0 3px;
	text-decoration:none;
}
.paginator .prev,
.paginator .next {
	font-size:22px;
}
.paginator span.prev,
.paginator span.next {
	color:#b2b5b6;
}
.paginator .prev {
	margin:0 4px 0 0;
	padding:0 4px 0 0;
}
.paginator .next {
	margin:0 0 0 4px;
	padding:0 0 0 4px;
}

.promo-text {
	padding-bottom:38px;
	margin-bottom:22px;
	position:relative;
	color:#333;
	text-shadow:0 1px 0 #ddd;
	z-index:50;	
}
.promo-text h1 {
	color:#111;
	margin-left:-1px;
}
.promo-text p {
	font-size:18px;
	line-height:24px;
	margin-right:-10px;
}
.promo-text .shadow-line {
	position:absolute; bottom:0; left:-124px;
	width:1207px; height:16px;
	background:url(../images/shadow_line.png) no-repeat;
	z-index:100;
}
.services-logos {
	margin-bottom:40px;
}
.services-logos h3 {
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	text-shadow:0 -1px 0 #cde1f2;
	margin-bottom:28px;
	color:#333;
}

.bottom-container {
	background:url(../images/mid_bg.jpg) no-repeat 50% 0;
	min-height:105px;
	padding:55px 0 0 0;
}

.quotes h2 {
	margin-bottom:19px;
}
.quotes blockquote {
	margin:0 0 19px 0;
	padding:1px 0 0 30px;
	background:url(../images/quotes.png) no-repeat;
}
.quotes blockquote p {
	font-style:italic;
	margin-bottom:10px;
}
.quotes blockquote small {
	font-size:12px;
	line-height:16px;
	color:#888;
}

.reasons {
	font-size:16px;
	line-height:20px;
}
.reasons h2 {
	margin-bottom:19px;
}
.reasons h2 span {
	display:block;
	font-weight:normal;
	font-size:22px;
	line-height:25px;
	padding-top:3px;
}
.reasons ul {
	padding:1px 0 0 0;
	margin:0;
	list-style:none;
}
.reasons ul li {
	padding:0 0 0 25px;
	margin:0 0 15px 0;
	background:url(../images/bullet_v.gif) no-repeat 0 2px;
}


/* FORM */
.main-form,
.form-box,
div.error {
	border-radius:6px; 
	-moz-border-radius:6px; 
	-khtml-border-radius:6px; 
	-webkit-border-radius:6px;	
}
.main-form {
	position:relative;
	margin:7px 0 -20px 0;
	background-color: rgb(31,32,33);
	z-index:150;
	-moz-box-shadow: 0 1px 4px rgba(31,32,33,0.5);
	-webkit-box-shadow: 0 1px 4px rgba(31,32,33,0.5);
	box-shadow: 0 1px 4px rgba(31,32,33,0.5);
}
.form-box {
	position:relative;
	background:#fff;
	z-index:200;
	zoom:1;
}
.form-box h2 {
	padding:16px 20px;
	margin:0;
	font-weight:normal;
	font-size:27px;
	line-height:27px;
}
.form-content {
	background:#2E3640 url(../images/form_bg_topw.jpg) no-repeat 50% 0;
	padding:20px 20px 18px 20px;
	min-height:280px;
	color:#fff;
	font-size:12px;
	line-height:16px;
	border-radius:0 0 6px 6px; 
	-moz-border-radius:0 0 6px 6px; 
	-khtml-border-radius:0 0 6px 6px; 
	-webkit-border-radius:0 0 6px 6px;		
}
.form-content b {
	color:#fff;
}
.form-content table {
	width:310px;
}
.form-content table td {
	vertical-align:top;
	font-size:12px;
	line-height:16px;
	padding:0 0 10px 0;
}
.form-content td.field {
	text-align:right;
	width:215px;
}
.form-content td.field input.inp-txt,
.form-content td.field textarea {
	/*float:right;*/
	width:100% !important;
}
.form-content td.field textarea {
	resize:none;
	height:52px;
}
.form-content td.field-full input.inp-txt,
.form-content td.field-full textarea
 {
	width:302px;
}
.form-content td.field-full textarea {
	resize:vertical;
	height:52px;
	min-height:52px;
	max-height:150px;
}
.form-content td.label {
	padding:6px 10px 10px 0;
	white-space:nowrap;
	width:85px;
}
.form-content td.field-full div.label {
	margin-bottom:4px;
}
.form-content td.fields-group {
	padding:9px 0 13px 0;
}
.form-content .btn-box {
	text-align:center;
	padding:10px 0 13px 0;
}
div.error {
	color:#e92d28;
	margin:0 0 14px 0;
	padding:10px;
	background:#fff;
	border:1px solid #e92d28;
}
div.error div {
	line-height:15px;
	padding:0 0 3px 0;
}
.form-content .paymethods {
	text-align:center;
	position:relative;
}
.form-content .paymethods a {
	color:#86847f;
}
.form-content .paymethods a:hover {
	color:#444;
}
.form-content .check-field {
	margin-bottom:15px;
	color:#fff;
}
.form-content .check-field input {
	float:left;
	margin:0 9px 0 0;
}
:root .form-content .check-field input { margin:0 4px 0 0 \0/IE9; }
.form-content .check-field label {
	float:left;
	display:block;
	width:270px;
}

#paymethodsbox {
	width:470px;
	height:auto;
	text-align:center;
	padding:10px;
}
#paymethodsbox img {
	margin:0 5px 5px 5px;
}


.clients {
	margin-bottom:50px;
}
.clients h4 {
	margin-bottom:22px;
}
/* slider */
.carousel {
	width:854px;
	padding:0 53px;
	position:relative;
}
.carousel .prev,
.carousel .next {
	position:absolute; top:14px;
	width:35px; height:35px;
	background-image:url(../images/slider_arrows.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	-moz-opacity:0.5; opacity:.5; filter:alpha(opacity=50);
}
.carousel .prev {
	background-position: 0 0;
	left:0;
}
.carousel .next {
	background-position: -45px 0;
	right:0;
}
.carousel .prev:hover,
.carousel .next:hover {
	-moz-opacity:0.7; opacity:.7; filter:alpha(opacity=70);
}
.carousel .prev:active,
.carousel .next:active {
	-moz-opacity:0.9; opacity:.9; filter:alpha(opacity=90);
}
.carousel .objectsList {
	overflow:hidden;
	position:relative;
	height:62px;
	width:854px;
	margin:0;
}
.carousel .objectsList ul {
	padding:0;
	margin:0;
	list-style:none;
}
.carousel .objectsList li {
	float:left;
	width:170px;
	height:62px;
	padding:0;
	margin:0;
	text-align:center;
	background:none;
	border-right:1px solid #dededf;
}
/* END slider */

/* COMPARE TABLE */

.compare {
	margin-top: 30px;
	margin-bottom:45px;
}
.compare h2 {
	margin-bottom:25px;
}
.compare th {
	padding:14px 15px;
	border-bottom:2px solid #e6e7e7;
	color:#777;
	font-size:18px;
	line-height:20px;
	text-align:center;
	font-weight:normal;
	white-space:nowrap;
}
.compare td {
	padding:12px 15px;
	border-bottom:1px solid #e6e7e7;
	color:#888;
	font-size:12px;
	line-height:16px;
	text-align:center;
	vertical-align:middle;
}
.compare .text-line td {
	vertical-align:top;
}
.compare td.row1 {
	text-align:left;
	padding-left:0;
}
.compare .row-green {
	color:#444;
	background:#e8ffcf;	
	border-color:#d2e7bd;
}
.compare th.row-green {
	font-weight:bold;
}
.compare .row-grey {
	background:#f3f4f4;	
	border-color:#dcddde;
}
/* END compare table */


/* FOOTER */

.footer {
	background: #2E3640 url(../images/footer_bg1.png) repeat-x 50% 0;
	font-size:12px;
	line-height:16px;
	color:#949393;	
}
.footer-box {
	padding:30px 0;
}

.footer h6 {
	color:#666;
	margin-bottom:10px;
}
.footer p {
	margin-bottom:10px;	
}

.operator {
	padding:15px 0 5px 0;
}
.operator p {
	margin-bottom:6px;
}
.operator p small {
	font-size:12px;
	color:#999;
}
.operator .wm-logo {
	float:left;
	margin-right:10px;
}
.operator .wm-address {
	float:left;
	display:block;
	width:113px;
	height:35px;
	background:url(../images/hd_address.gif) no-repeat;	
}
.operator a {
	text-decoration:none;
}

.ftr-left-column {
	width:435px;
	float:left;
}
.ftr-right-column {
	width:490px;
	float:right;
}

.ftr-links {
	padding:0;
	margin:0;
	list-style:none;
	text-align:right;	
}
.ftr-links b {
	margin-right:7px;
}
.ftr-links li {
	text-align:right;
	padding:0;
	margin:0 0 10px 0;
}
.ftr-links li h6,
.ftr-links li ul,
.ftr-links li ul li {
	float:none;
	font-size:12px;
	line-height:20px;
	text-align:right;
	display:inline;
	padding:0;
	margin:0;
	list-style:none;
}
.ftr-links h6 {
	color:#949393;
}
.ftr-links li ul li a {
	display:inline-block;
	padding: 0 5px 0 7px;
	border-left:1px solid #cacacb;
	font-size:12px;
	line-height:14px;
}
.ftr-links li ul li:first-child a {
	border:none;
}
/* END FOOTER */


/**** Clearfix ****/
.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* Terms */
.terms {text-align: center;}
.terms a {cursor:pointer;color:#86847f;text-decoration: underline;}
.terms a:hover {color:#444;}
.display_none {display:none;}
.terms_content {font-family: verdana, tahoma, arial; font-size: 12px;}
.terms_close {text-align: right;}
/* END Terms */

#form-cadastro input{ width: 100%}
.checkbox-profissional{margin-right: 20px}